@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet');

.template{
    margin:10%;
    margin-top: 40%;
}

.labels{
    color:#D08510;
}

.buttons{
    float:left;
    margin: 2px;
    color:white;
    background-color: #D08510;
}